*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.underline {
  margin: 0.5rem 0 1.5rem;
  width: 100%;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  height: 100vh;
  width: 100vw;
}
.calc__heading {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}
.calc__heading::first-letter {
  text-transform: uppercase;
}
.calc__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  width: 100%;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.calc__container__box:nth-child(3) {
  margin-bottom: 2rem;
}
.calc__container__box__text {
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
}
.calc__container__box__text::first-letter {
  text-transform: uppercase;
}
.calc__container__box__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.calc__container__box__content__value input {
  padding: 0.5rem;
  border: none transparent;
  font-size: 1.4rem;
}
.calc__container__box__content__value input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.calc__container__box__content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.calc__container__box__content__info span {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.calc__container__box__content__info p {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.calc__message {
  display: none;
  margin-top: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(239, 35, 60, 0.6);
  text-align: center;
}
.calc__message-active {
  display: block;
}
.calc__message p {
  font-size: 1.4rem;
}
.calc__message p::first-letter {
  text-transform: uppercase;
}
.calc__info {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.4rem;
}
.calc__info span {
  font-weight: bold;
}
.calc__info p:last-of-type {
  font-weight: bold;
}
.calc__info p:last-of-type::first-letter {
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .calc {
    padding: 5rem;
  }
  .calc__heading {
    font-size: 2.7rem;
  }
  .calc__container__box__text {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  
  .calc__container__box__content__value input {
    margin-right: 0.5rem;
    font-size: 1.8rem;
  }
  .calc__container__box__content__info span {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
  .calc__container__box__content__info p {
    font-size: 1.8rem;
  }
  .calc__message p, .calc__info {
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) {
  .calc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .calc__container {
    width: 50rem;
    text-align: center;
    background-color: lightgrey;
  }
}
@media (min-width: 992px) {
  .calc__heading {
    font-size: 3rem;
  }
  .calc__container__box__text {
    font-size: 2.1rem;
  }
  .calc__container__box__content__value input {
    font-size: 2rem;
  }
  .calc__container__box__content__info span {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  .calc__container__box__content__info p {
    font-size: 2rem;
  }
  .calc__message p, .calc__info {
    font-size: 2rem;
  }
}/*# sourceMappingURL=main.css.map */